.propertyList {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.propertyListItem {
    flex:1;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.propertyListImg {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.propertyListTitles > h1 {
    font-size: 18px;
    color: #444;
}

.propertyListTitles > h2 {
    font-size: 14px;
    font-weight: 300;
}