.attractionsContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.attractionsWrapper {
  width: 1024px;
}

.attractionsTitle {
  font-size: 18px;
  margin: 20px 0px;
  color: #232323;
}

.attractionsList,
.attractionsListTeste {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.attractionsItem,
.attractionsItemTeste {
  position: relative;
  width: 330px;
  height: 170px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.attractionsItemTeste {
  width: 243px;
  height: 143px;
}

.attractionsItemImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.attractionsTitles {
  position: absolute;
  left: 15px;
  bottom: 15px;
  color: whitesmoke;
  font-size: 14px;
  z-index: 2;
}

.attractionsItemTeste:hover .attractionsItemImg, 
.attractionsItem:hover .attractionsItemImg {
  transform: scale(1.1);
}

.attractionsItem::before,
.attractionsItemTeste::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  z-index: 2;
}

.attractionsSignIn {
  width: 1024px;
  border: 1px solid lightgray;
  margin-top: 40px;
  padding: 15px;
  border-radius: 8px;
}

.attractionsSignInTitle {
  font-size: 14px;
  color: #232323;
}

.attractionsSignInText {
  margin: 8px 0px;
  font-size: 13px;
}

.attractionsSignIn span {
  color: #1274e3;
  font-size: 13px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  margin-left: -10px;
}

.attractionsSignIn span:hover {
  background-color: #3594d820;
}

hr {
  width: 1080px;
  background-color: #e8e8e8;
  height: 1px;
  border: none;
  margin-top: 20px;
}

.trustContainer {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  width: 1024px
}

.trustTitle {
  font-size: 18px;
  color: #232323;
}

.trustWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.attractiosTrustItem {
  display: flex;
  width: 300px;
}

.trustIcon {
  height: 20px;
  color: #008234;
  margin-right: 20px;
}

.trustItemTitle {
  font-size: 14px;
  color: #232323;
  margin-bottom: 5px;
}

.attractiosTrustItem p {
  font-size: 12px;
}

.destinationsWrapper {
  width: 1024px;
}

.destinationsTitle {
  font-size: 18px;
  color: #232323;
  margin-top: 20px;
}

.p {
  font-size: 13px;
  margin-top: 5px;
}

.destinationsCountry {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;
}

.destinationsParagraph {
  font-size: 12px;
  font-weight: 400;
  padding: 20px;
  cursor: pointer;
}

.destinationsParagraph:hover {
  background-color: #97bad420;
}

.destinationsWrapper hr {
  width: 100%;
  margin: -1px 0px 20px 0px;
}

.active {
  color: #1274e3;
  border-bottom: 2px solid #1274e3;
}

.active:hover {
  background-color: transparent;
}