.homeContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.homeTitle {
    width: 1080px;
    font-size: 20px;
    color: #2d2d2d;
}