.featuredProperty {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.featuredPropertyItem{
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.featuredPropertyImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.featuredPropertyName{
    color: #333;
    font-weight: bold;
}

.featuredPropertyCity{
    font-weight: 300;
}

.featuredPropertyPrice{
    font-weight: 500;
}

.featuredPropertyRating > button{
    background-color: #003580;
    color: white;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
}

.featuredPropertyRating > span{
    font-size: 14px;
}