.mail {
    width: 100%;
    margin-top: 50px;
    background-color: #003b95;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.mailTitle {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 3px;
}

.mailDesc {
    font-size: 14px;
    font-weight: 300;
    color: #d2d2d2;
    margin-bottom: 20px;
}

.mailInputContainer > input {
    width: 400px;
    height: 45px;
    padding: 10px;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
}

.mailInputContainer > button{
    height: 45px;
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: 1px solid #0071c2;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}