.attractionsContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.attractionsWrapper {
    width: 1024px;
}

.attractionsTitle {
    font-size: 18px;
    margin: 20px 0px;
    color: #232323; 
}

.attractionsList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.attractionsItem {
    position: relative;
    width: 330px;
    height: 170px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.attractionsItemImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.attractionsTitles {
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: whitesmoke;
    font-size: 14px;
    z-index: 3;
}
  
  .attractionsItem:hover .attractionsItemImg {
    transform: scale(1.1);
  }

  .attractionsItem::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.7;
    z-index: 2;
  }
  




